@page "/"

<h1>Hello, world!</h1>

@Clicks clicks!

<RadzenButton ButtonStyle="ButtonStyle.Success" Click="@ButtonClicked" Text="Hi"/>

@code {
    private int Clicks { get; set; }
    
    void ButtonClicked()
    {
        Clicks++;
    }
}